{% extends 'AppBundle::layout.html.twig' %}


{% block main %}

	<div class="row">

            <div class="panel">

                <div class="panel-header">
                    <h1>Ajouter un utilisateur</h1>
                </div>

                <div class="panel-body grid">
					{{ form_start(form) }}
					    {{ form_row(form.firstname) }}
						{{ form_row(form.lastname) }}
					    {{ form_row(form.email) }}
					    {{ form_row(form.plainPassword.first) }}
					    {{ form_row(form.plainPassword.second) }}
					{{ form_end(form) }}
                </div>

            </div>

	</div>

{% endblock %}
